body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'main text' 
                         'main text'
                         'foot foot';
    grid-gap: 10px;
    grid-template-rows: 300px 1fr 30px;
    grid-template-columns: 1200px 1fr;
}

header {
    grid-area: head;
}

aside {
    grid-area: text;
    margin-top: 200px;
}

main {
    grid-area: main;
    text-align: justify;
    margin-right: 10px;
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}

main >th,td,tr{
    grid-area: main;
    text-align: justify;
    margin-right: 10px;
   
    font-size: 22px;
}

footer {
    grid-area: foot;
    margin-top: 10px;
   
}

